<form action="/customer/create"method="POST">
  <h1>Create New Customer</h1>
 <input type="text" placeholder="Name" name="name"><br/>
  <input type="email" placeholder="Email" name="email"><br/>
  <input type="text" placeholder="State" name="state"><br/>
  <input type="submit" value="Create Customer"><br/>

</form>
